@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab-Regular.woff) format("woff"),
    url(../fonts/RobotoSlab-Regular.eot) format("eot"),
    url(../fonts/RobotoSlab-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url(../fonts/RobotoSlab-Bold.woff) format("woff"),
    url(../fonts/RobotoSlab-Bold.eot) format("eot"),
    url(../fonts/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff) format("woff"),
    url(../fonts/Montserrat-Regular.woff2) format("woff2"),
    url(../fonts/Montserrat-Regular.otf) format("opentype"),
    url(../fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Montserrat-Bold.woff) format("woff"),
    url(../fonts/Montserrat-Bold.woff2) format("woff2"),
    url(../fonts/Montserrat-Bold.otf) format("opentype"),
    url(../fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

.header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
}

.header::after {
  content: "";
  background-color: #000000;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.45;
}

.header-content {
  max-width: 1140px;
  height: 768px;
  margin-right: auto;
  margin-left: auto;
}

.top-panel {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.header-logo {
  width: 91px;
  font-size: 24px;
  color: #ffffff;
  font-family: "Montserrat Bold";
}

.menu {
  font-size: 14px;
  color: #ffffff;
  font-family: "Montserrat";
  text-align: center;
}

.menu-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.menu-list-item {
  padding: 0 16px;
}

.menu-link {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  color: inherit;
}

.header-text {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 2;
}

.slogan {
  width: 600px;
  height: 100px;
  padding-top: 240px;
  margin-right: auto;
  margin-left: auto;
}

.slogan-title {
  font-size: 48px;
  color: #ffffff;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
  padding-top: 10px;
}

.slogan-subtitle {
  width: 392px;
  padding-top: 20px;
  font-size: 19px;
  color: #ffffff;
  font-family: "Montserrat";
  text-align: center;
  text-transform: capitalize;
  margin-right: auto;
  margin-left: auto;
}

.header-button a {
  display: block;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid #ffffff;
  margin: 150px auto 260px;
  width: 180px;
  height: 50px;
  font-size: 16px;
  color: #ffffff;
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
}

.header-button a:hover {
  background-color: white;
  color: red;
}

.section {
  max-width: 1140px;
  margin: 100px auto;
}

.section-title {
  font-size: 20px;
  line-height: 24px;
  color: #555555;
  font-family: "Montserrat";
  text-align: center;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #555555;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  font-family: "Roboto Slab";
  text-align: center;
  padding-bottom: 70px;
}

.servises-carts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
}

.serveses-cart {
  margin: 0;
  width: 350px;
  position: relative;
}

.servises-icons-1 {
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 2px solid #dddddd;
  background-color: #c0301c;
  margin-right: auto;
  margin-left: auto;
}

.servises-icons-2 {
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 0;
  left: 130px;
  opacity: 1;
}

.servises-icons-2:hover {
  opacity: 0;
}

.servises-icon {
  display: block;
}

.icon-text {
  width: 43px;
  margin: 20px auto;
}

.icon-suport {
  width: 48px;
  margin: 18px auto;
}

.icon-code {
  width: 53px;
  margin: 23px auto;
}

.serveses-cart-title {
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

.servises-cart-text {
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  font-family: "Roboto Slab";
  text-align: center;
}

.about-us-contents {
  display: flex;
  margin-bottom: 70px;
}

.about-us-content-left {
  margin-right: 15px;
}

.about-us-content-right {
  margin-left: 15px;
}

.about-us-carts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.about-us-cart {
  margin: 15px;
}

.about-us-cart:nth-child(1) {
  margin-left: 0;
}

.about-us-cart:last-child {
  margin-right: 0;
}

.about-us-cart-name {
  font-size: 14px;
  color: #555555;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  padding-top: 18px;
}

.about-us-cart-post {
  font-size: 13px;
  color: #555555;
  font-family: "Roboto Slab";
  text-align: center;
  padding-top: 16px;
}

.ant-carousel {
  max-width: 100%;
  /* укажите здесь ваше значение */
  position: relative;
}

.ant-carousel-hider {
  overflow: hidden;
}

.ant-carousel-list {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.ant-carousel-element {
  display: block;
  flex: 0 0 auto;
  width: 260px;
  /* укажите здесь ваше значение */
  text-align: center;
  /* укажите здесь ваше значение */
  height: 350px;
  background-size: contain;
  background-position: center;
}

.ant-carousel-element img {
  width: 260px;
  text-align: center;
  height: 260px;
  background-size: contain;
  background-position: center;
}

/* Navigation item styles */
.ant-carousel-arrow-left,
.ant-carousel-arrow-right {
  width: 50px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 2;
  display: block;
}

.ant-carousel-arrow-left {
  left: 40px;
  top: 40%;
  background-image: url("../images/fa-angle-left2.png");
  background-repeat: no-repeat;
}

.ant-carousel-arrow-right {
  right: 40px;
  top: 40%;
  background-image: url("../images/fa-angle-left1.png");
  background-repeat: no-repeat;
}

.ant-carousel-arrow-left:hover {
  background-color: red;
  background-size: 30px 30px;
  opacity: 1;
}

.ant-carousel-arrow-right:hover {
  background-color: red;
  background-size: 30px 30px;
  opacity: 1;
}

.works-menu {
  font-size: 16px;
  font-family: "Roboto Slab";
  text-align: center;
}

.works-menu-list {
  display: flex;
  padding: 0;
  width: 416px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.works-menu-item {
  color: #555555;
}

.works-menu-item:hover {
  color: #c0301c;
}

.works-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.work-picture {
  padding: 15px 0;
}

.work-get {
  height: 370px;
  background-image: url("../images/Layer%2029.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c0301c;
  position: relative;
}

.work-get::after {
  content: "";
  position: absolute;
  background-color: #bf2f1b;
  opacity: 0.6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.work-get-text {
  font-size: 30px;
  line-height: 44px;
  color: #ffffff;
  font-family: "Roboto Slab";
  text-align: center;
  padding-top: 85px;
  padding-bottom: 50px;
  position: relative;
  z-index: 999;
}

.work-get-button a {
  display: block;
  width: 180px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 44px;
  color: #ffffff;
  font-family: "Roboto Slab";
  text-align: center;
  position: relative;
  z-index: 999;
}

.work-get-button a:hover {
  color: #c0301c;
  background-color: #ffffff;
}

.blog-post {
  display: flex;
}

.blog-post-1 {
  margin-bottom: 80px;
  position: relative;
}

.blog-post-1::after {
  content: "";
  display: block;
  width: 1140px;
  height: 1px;
  background-color: #dddddd;
  position: absolute;
  top: 366px;
  z-index: 2;
}

.blog-post-cart {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.blog-post-cart-header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

.blog-post-date {
  width: 76px;
  height: 76px;
  background-color: #f8f8f8;
  border: 2px solid #555555;
  font-size: 24px;
  letter-spacing: 2px;
  color: #777777;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  padding-top: 10px;
  margin-right: 15px;
  box-sizing: border-box;
}

.blog-post-title {
  font-size: 16px;
  line-height: 24px;
  color: #c0301c;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
}

.blog-post-author {
  font-size: 13px;
  line-height: 24px;
  color: #777777;
  font-family: "Roboto Slab";
  text-align: left;
  font-style: italic;
}

.red {
  color: red;
}

.blog-post-text {
  width: 639px;
  height: 111px;
  font-size: 14px;
  line-height: 24px;
  color: #555555;
  font-family: "Roboto Slab";
  margin-bottom: 34px;
}

.blog-post-button {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #777777;
  font-weight: 700;
  font-family: "Roboto Slab";
  text-align: left;
  text-transform: uppercase;
}

.blog-post-button:hover {
  color: #c0301c;
}

.clients {
  display: flex;
  flex-direction: column;
}

.clients-logo {
  display: flex;
  width: 898px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
}

.clients-text {
  width: 790px;
  height: 113px;
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  font-family: "Roboto Slab";
  font-style: italic;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.clients-author {
  font-size: 18px;
  line-height: 30px;
  color: #555555;
  font-family: "Roboto Slab";
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.bullets {
  display: flex;
  width: 54px;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-top: 38px;
}

.bullet {
  width: 13px;
  height: 13px;
  border-radius: 6px;
  background-color: #dddddd;
}
.active {
  background-color: #c0301c;
}

.contacts-container {
  display: flex;
}

.contacts {
  width: 270px;
}

.contact-elem {
  display: flex;
  margin-bottom: 33px;
}

.contact-elem-img {
  width: 15px;
  height: 68px;
}

.contact-elem-cart {
  margin-left: 10px;
}

.contact-elem-name {
  font-size: 14px;
  color: #555555;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-bottom: 13px;
}

.contact-elem-text {
  font-size: 12px;
  line-height: 20px;
  color: #555555;
  font-family: "Roboto Slab";
}

.form-item {
  width: 350px;
  height: 44px;
  border: 1px solid #555555;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #555555;
  font-weight: 400;
  font-family: "Roboto Slab";
  padding-left: 15px;
  outline: none;
  margin-bottom: 24px;
  margin-right: 28px;
}

.form-item:focus-visible {
  border: 1px solid #c0301c;
}

.form-message {
  width: 730px;
  height: 104px;
  border: 1px solid #555555;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #555555;
  font-weight: 400;
  font-family: "Roboto Slab";
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
  outline: none;
}
.form-message:focus-visible {
  border: 1px solid #c0301c;
}

.form-button-group {
  display: flex;
}
.form-button-group button {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  color: #555555;
  background-color: #ffffff;
  font-weight: 400;
  font-family: "Roboto Slab";
  width: 170px;
  height: 44px;
  border: 1px solid #555555;
}

.form-button-group button:hover {
  background-color: #c0301c;
  color: #ffffff;
}

.form-button-group p {
  font-size: 12px;
  line-height: 20px;
  color: #000;
  font-weight: 400;
  font-family: "Roboto Slab";
  margin: 13px 38px;
}

.form-button-group p span {
  color: #c0301c;
}

.footer {
  background-color: #c0301c;
}

.socials-base {
  max-width: 1140px;
  height: 80px;
  padding-left: 0;
  background-color: #f4f7f6;
  margin-left: auto;
  margin-right: auto;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.socials-item {
  height: 20px;
  width: 20px;
  margin-right: 7px;
  margin-left: 7px;
  width: 35px;
  height: 35px;
  border-radius: 18px;
  border-color: #ffffff;
}

.socials-link {
  width: 35px;
  height: 35px;
  border-radius: 18px;
  border-color: #ffffff;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  position: absolute;
  z-index: 2;
}

.socials-link-twitter {
  background-image: url("../images/Twitter\ Logo\ Silhouette.png");
  border: 1px solid white;
  border-radius: 50%;
}

.socials-link-twitter:hover {
  background-image: url("../images/Twitter\ Logo\ Red.png");
  border: 1px solid #c0301c;
  background-color: #ffffff;
  border-radius: 50%;
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
  display: flex;
  flex-direction: column;
  width: 273px;
  padding: 0 0 100px;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Roboto Slab";
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.copyright::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 28px;
  margin-bottom: 28px;
}
